body{
  background-color: black;
}
.nav-link{
    font-size:18px;
    border-radius: 20px;
    margin:2px;
}
.navbar-nav{
    padding-right: 10px;
}
.nav-link:hover{
    padding:2px 2px;
}
.navbar img{
    height:46px;
    background-color: blue;
}

/* From Uiverse.io by Ashon-G */ 
.roundedcon{
  display: flex;
  justify-content: center;
  padding:5px 10px;
}
.uiverse {
    --duration: 7s;
    --easing: linear;
    --c-color-1: rgba(255, 163, 26, 0.7);
    --c-color-2: #1a23ff;
    --c-color-3: #e21bda;
    --c-color-4: rgba(255, 232, 26, 0.7);
    --c-shadow: rgba(255, 223, 87, 0.5);
    --c-shadow-inset-top: rgba(255, 223, 52, 0.9);
    --c-shadow-inset-bottom: rgba(255, 250, 215, 0.8);
    --c-radial-inner: #ffd215;
    --c-radial-outer: #fff172;
    --c-color: #fff;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    outline: none;
    position: relative;
    cursor: pointer;
    border: none;
    display: table;
    border-radius: 24px;
    padding:0;
    margin-top:40px;
    margin-bottom:40px;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: var(--c-color);
    background: radial-gradient(
      circle,
      var(--c-radial-inner),
      var(--c-radial-outer) 80%
    );
    box-shadow: 0 0 14px var(--c-shadow);
  }
  
  .uiverse:before {
    content: "";
    pointer-events: none;
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 24px;
    box-shadow:
      inset 0 3px 12px var(--c-shadow-inset-top),
      inset 0 -3px 4px var(--c-shadow-inset-bottom);
  }
  
  .uiverse .wrapper {
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    overflow: hidden;
    border-radius: 24px;
    min-width: 132px;
    padding: 12px 0;
  }
  
  .uiverse .wrapper span {
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  
  .uiverse:hover {
    --duration: 1400ms;
  }
  
  .uiverse .wrapper .circle {
    position: absolute;
    left: auto;
    top: auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    filter: blur(var(--blur, 8px));
    background: var(--background, transparent);
    transform: translate(var(--x, 0), var(--y, 0)) translateZ(0);
    animation: var(--animation, none) var(--duration) var(--easing) infinite;
  }
  
  .uiverse .wrapper .circle.circle-1,
  .uiverse .wrapper .circle.circle-9,
  .uiverse .wrapper .circle.circle-10 {
    --background: var(--c-color-4);
  }
  
  .uiverse .wrapper .circle.circle-3,
  .uiverse .wrapper .circle.circle-4 {
    --background: var(--c-color-2);
    --blur: 14px;
  }
  
  .uiverse .wrapper .circle.circle-5,
  .uiverse .wrapper .circle.circle-6 {
    --background: var(--c-color-3);
    --blur: 16px;
  }
  
  .uiverse .wrapper .circle.circle-2,
  .uiverse .wrapper .circle.circle-7,
  .uiverse .wrapper .circle.circle-8,
  .uiverse .wrapper .circle.circle-11,
  .uiverse .wrapper .circle.circle-12 {
    --background: var(--c-color-1);
    --blur: 12px;
  }
  
  .uiverse .wrapper .circle.circle-1 {
    --x: 0;
    --y: -40px;
    --animation: circle-1;
  }
  
  .uiverse .wrapper .circle.circle-2 {
    --x: 92px;
    --y: 8px;
    --animation: circle-2;
  }
  
  .uiverse .wrapper .circle.circle-3 {
    --x: -12px;
    --y: -12px;
    --animation: circle-3;
  }
  
  .uiverse .wrapper .circle.circle-4 {
    --x: 80px;
    --y: -12px;
    --animation: circle-4;
  }
  
  .uiverse .wrapper .circle.circle-5 {
    --x: 12px;
    --y: -4px;
    --animation: circle-5;
  }
  
  .uiverse .wrapper .circle.circle-6 {
    --x: 56px;
    --y: 16px;
    --animation: circle-6;
  }
  
  .uiverse .wrapper .circle.circle-7 {
    --x: 8px;
    --y: 28px;
    --animation: circle-7;
  }
  
  .uiverse .wrapper .circle.circle-8 {
    --x: 28px;
    --y: -4px;
    --animation: circle-8;
  }
  
  .uiverse .wrapper .circle.circle-9 {
    --x: 20px;
    --y: -12px;
    --animation: circle-9;
  }
  
  .uiverse .wrapper .circle.circle-10 {
    --x: 64px;
    --y: 16px;
    --animation: circle-10;
  }
  
  .uiverse .wrapper .circle.circle-11 {
    --x: 4px;
    --y: 4px;
    --animation: circle-11;
  }
  
  .uiverse .wrapper .circle.circle-12 {
    --blur: 14px;
    --x: 52px;
    --y: 4px;
    --animation: circle-12;
  }
  
  @keyframes circle-1 {
    33% {
      transform: translate(0px, 16px) translateZ(0);
    }
  
    66% {
      transform: translate(12px, 64px) translateZ(0);
    }
  }
  
  @keyframes circle-2 {
    33% {
      transform: translate(80px, -10px) translateZ(0);
    }
  
    66% {
      transform: translate(72px, -48px) translateZ(0);
    }
  }
  
  @keyframes circle-3 {
    33% {
      transform: translate(20px, 12px) translateZ(0);
    }
  
    66% {
      transform: translate(12px, 4px) translateZ(0);
    }
  }
  
  @keyframes circle-4 {
    33% {
      transform: translate(76px, -12px) translateZ(0);
    }
  
    66% {
      transform: translate(112px, -8px) translateZ(0);
    }
  }
  
  @keyframes circle-5 {
    33% {
      transform: translate(84px, 28px) translateZ(0);
    }
  
    66% {
      transform: translate(40px, -32px) translateZ(0);
    }
  }
  
  @keyframes circle-6 {
    33% {
      transform: translate(28px, -16px) translateZ(0);
    }
  
    66% {
      transform: translate(76px, -56px) translateZ(0);
    }
  }
  
  @keyframes circle-7 {
    33% {
      transform: translate(8px, 28px) translateZ(0);
    }
  
    66% {
      transform: translate(20px, -60px) translateZ(0);
    }
  }
  
  @keyframes circle-8 {
    33% {
      transform: translate(32px, -4px) translateZ(0);
    }
  
    66% {
      transform: translate(56px, -20px) translateZ(0);
    }
  }
  
  @keyframes circle-9 {
    33% {
      transform: translate(20px, -12px) translateZ(0);
    }
  
    66% {
      transform: translate(80px, -8px) translateZ(0);
    }
  }
  
  @keyframes circle-10 {
    33% {
      transform: translate(68px, 20px) translateZ(0);
    }
  
    66% {
      transform: translate(100px, 28px) translateZ(0);
    }
  }
  
  @keyframes circle-11 {
    33% {
      transform: translate(4px, 4px) translateZ(0);
    }
  
    66% {
      transform: translate(68px, 20px) translateZ(0);
    }
  }
  
  @keyframes circle-12 {
    33% {
      transform: translate(56px, 0px) translateZ(0);
    }
  
    66% {
      transform: translate(60px, -32px) translateZ(0);
    }
  }
  
#rounded{
    padding-top:50px;
}
div.scroll-container{
  padding-top:5px;
  overflow:auto;
  white-space:nowrap;
  padding:10px;

}
div.scroll-container img{
  padding:10px;
  border-radius:50%;
  height:100px;
  width:2000px;

}
.image-text{
  text-align: justify;
  width: [width-of-img];
}
.imgae-text img{
  display: block;
  margin:0 auto;
}

.trav button{
  width:9em;
  height:3em;
  border-radius:30em;
  font-size:15px;
  font-family:inherit;
  border:none;
  position:relative;
  overflow: hidden;
  z-index:1;
  box-shadow:6px 6px 12px #c5c5c5,-6px -6px 12px #ffffff;
}

.trav button::before{
  content:"";
  width:0;
  height:3em;
  border-radius:30em;
  position:absolute;
  top:0;
  left:0;
  background-image: linear-gradient(to right,#0fd850 0%,#f9f047 100%);
  transition:.5s ease;
  display: block;
  z-index:-1;
}
.trav button:hover::before{
  width:9em;
}


.card button{
  width:9em;
  height:3em;
  border-radius:30em;
  font-size:15px;
  font-family:inherit;
  border:none;
  position:relative;
  overflow: hidden;
  z-index:1;
  box-shadow:6px 6px 12px #c5c5c5,-6px -6px 12px #ffffff;
}

.card button::before{
  content:"";
  width:0;
  height:3em;
  border-radius:30em;
  position:absolute;
  top:0;
  left:0;
  background-image: linear-gradient(to right,#0fd850 0%,#f9f047 100%);
  transition:.5s ease;
  display: block;
  z-index:-1;
}
.card button:hover::before{
  width:9em;
}
/*Daily deals*/
.daily{
  justify-content: space-evenly;
}
.daily h4{
  font-size:20px;
  color:white;
  text-align:center;
}
.car{
  margin-top:40px;
}
.car img{
  width:100%;
  height:100%;
  z-index:5;
}
.car{
  display: grid;
  place-items: center;
  position:relative;
  height:200px;
  width:300px;
  background-color:grey;
  border-radius:18px;
}
.car{
  overflow:hidden;
}
.car::before{
  position:absolute;
  content:"";
  width:350px;
  height: 200px;
  background:#5ccff2;
  transform: rotate(45deg);
}
.car:hover::before{
  animation:animation 2s linear infinite;
}
@keyframes animation{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
.car::after{
  position:absolute;
  content: "";
  inset:5px;
  background-color: #111;
  border-radius:18px;
}

/*top picks*/
.my-cards{
  justify-content: space-evenly;
}
.card{
  position:relative;
  max-width:300px;
  height:200px;
  background-color:#fff;
  margin: 10px;
  padding:20px 15px;
  box-shadow: o 5px 20px rgba(0,0,0,0.5);
  transition: 0.3s ease-in-out;
  border-radius:15px;
  margin-top:50px;

}
.card:hover{
  height:320px;
}
.card .image{
  position:relative;
  width:260px;
  height:260px;
  top:-20%;
  left:8px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  z-index:1;
}
.card .image img{
  max-width: 100%;
  border-radius:15px;
}
.card .content{
  position:relative;
  top:-10px;
  padding:10px 15px;
  color:#111;
  text-align:center;
  visibility:hidden;
  opacity:0;
  transition:0.3s ease-in-out;
}
.card:hover .content{
  margin-top:3px;
  visibility:visible;
  opacity: 1;
  transition-delay:0.2s;
}
.tophead{
  margin-top:30px;
  margin-bottom:30px;
  display: flex;
  justify-content: center;
}
.tophead button{
  color:white;
  font-size:20px;
}

/*travelling section*/
.travel{
  justify-content:space-evenly;
  width:90%;
  margin:auto;
}
.trav{
  width:270px;
  height:360px;
  border-radius:15px;
  padding:1.5rem;
  background:rgb(8, 8, 8);
  position:relative;
  display:flex;
  align-items:flex-end;
  transition: 0.4s ease-out;
  box-shadow: 0ps 7px 10px rgba(rgb(7, 7, 7),0.5);
}
.trav:hover{
  transform: translateY(20px);
}
.trav:hover:before{
  opacity:1;
}
.trav:hover .info{
  opacity: 1;
  transform:translateY(0px);

}
.trav:before{
  content:"";
  position:absolute;
  top:0;
  left:0;
  display:block;
  width:100%;
  height:100%;;
  border-radius:15px;
  background:rgba(black,0.6);
  z-index:2;
  transition:0.5s;
  opacity:0;

}
.trav img{
  width:100%;
  height:100%;
  top:0;
  left:0;
  object-fit:cover;
  position:absolute;
  border-radius:15px;
  opacity:1;
}
.trav .info{
  position:relative;
  z-index:3;
  color:white;
  opacity:0;
  transform:translateY(30px);
  transition:0.5s;
} 
.trav .info h1{
  margin:0px;
}
.trav .info p{
  /* font-size:15px; */
  margin-top:8px;
  color:white;
  font-weight: 300;
  font-style:bold;
}
/*contact*/
.icons{
  display: flex;
  justify-content: center;
  font-size: 60px;
  z-index:2;
  color:rgb(241, 116, 116);
}
.icons i{
  padding-right:30px;
} 
.icons i:hover{
  scale:1.2; 
} 
/*footer*/
#footer p{
  margin-top:40px;
  font-size:20px;
  background-image:linear-gradient(to right,#f25cd2,#5ccff2);
}
.fa-heart{
  color: red;
}